
<div class="ui middle aligned grid">
    <div class="column">
        <%= form_for @document, html: { class:'ui form fluid segment' } do |f| %>
            <div class="three fields">
                <div class="field">
                    <%= f.label :name, "Nombre de tu documento", class: 'label'%>
                    <%= f.text_field :name, class: 'field', placeholder: "Documento importantisimo" %>
                </div>
                <div class="field">
                    <%= f.label :uploader_name, "Tu nombre"%>
                    <%= f.text_field :uploader_name, class: 'field', placeholder: "Nikola Tesla" %>
                </div>
            </div>

            <div class="field">
                <%= f.label :attachment, "Tu archivo"%>
                <%= f.file_field :attachment, class:'ui basic left action button' do%>
                    Holis
                <%end %>
            </div>

            <div class="field">
                <%= f.label :description, "Descripcion"%>
                <%= f.text_area :description, class: 'field', placeholder: "Añade una descripción para que los demas usuarios tengan una idea del contenido de tu archivo" %>
            </div>



            <%= f.submit "Guardar documento ", class: "ui positive button"%>
        <% end %>
    </div>
</div>
